body {
  background-image: url("./background.png");
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #f6f2e5;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #4d3d35;
  padding: 32px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.navLink {
  background-color: #e39368;
  width: 72px;
  height: 72px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink a {
  text-decoration: none;
  text-align: center;
  color: #f6f2e5;

  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #4d3d35;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#filters {
  background-color: #f6f2e5;
  border-radius: 56px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.filter {
  background-color: #899bf0;
  width: 62px;
  height: 62px;
  border-radius: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter:hover {
  cursor: pointer;
}

#fav {
  background-color: #f7a7b3;
}

#listBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #f6f2e5;
  padding: 48px;
  border-radius: 100px;
  gap: 32px;
}

.text {
  color: #4d3d35;
}

.villager {
  flex-shrink: 0;
  border-radius: 80px;
  border: 6px solid #4d3d35;
  background: #f6f2e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: -10px;
}

.imageVillager {
  width: 201px;
  height: 198px;
  flex-shrink: 0;
  padding: 8px;
  border-radius: 56px;
  border: 6px solid #4d3d35;
  object-fit: contain;
  background-image: url("https://i.pinimg.com/736x/3d/2e/c3/3d2ec30036404eb943eefaa1e2a47409.jpg");
  background-repeat: no-repeat;
  background-size: 500px;
}

.iconsVillagers {
  display: flex;
  gap: 8px;
}

.iconVillager {
  width: 40px;
  height: auto;
}

.iconDiv {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pink {
  background-color: #f7a7b3;
}

.blue {
  background-color: #899bf0;
}

.green {
  background-color: #7fd6bb;
}

.green2 {
  background-color: #88c68a;
}

.favBtn {
  stroke: #4d3d35;
  width: 30px;
  height: auto;
}

.favBtn:hover {
  fill: #4d3d35;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  background-color: #f6f2e5;
  border-style: solid;
  border-color: #4d3d35;
  color: #4d3d35;
  text-align: center;
  padding: 4px 16px;
  border-radius: 6px;
  bottom: 48px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #4d3d35 transparent transparent transparent;
}

.filter.selected {
  border: 3px solid #4d3d35;
}

.filled {
  fill: #4d3d35;
}
